@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 255, 245, 247;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  overflow-x: hidden;
}

.glass-card {
  background: rgba(255, 255, 255, 0); /* Ubah ke 0 jika ingin semua kartu transparan */
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}